
.gradle
build/
tokens/.env
.env
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
**/src/test/**/build/
/tokens
/logs
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

